<!DOCTYPE html>

<html>
  <head>
  </head>

  <body>
    <h1> params hash testing</h1>

    <p> This is what should be outputed: +a9rrmKtH0yhVRWZxKEABkBwcJr4SX97QgplDnyNkiQ21hDeetqCC0n3rxC/UWf6XOuFblzTh6rnrdZVU4zGjQ== </p>

    <p><%= @au_to %> </p>
  </body>


</html>
